body {
  background-color: #f4f1de;
  color: #3d405b;
  text-align: center;
  line-height: 40px;
}

h1 {
  background-color: #f2cc8f;
  font-size: 35px;
  color: #3d405b;
  margin: 0;
  padding: 50px 10px
}

h3, h4 {
  font-size: 25px;
  padding: 15px 10px;
}

#readyGoButton {
  display: flex;
  justify-content: center;
  margin: 45px 0 100px 0;
}

.readyGo,.TCQButton,.SEQButton,.turnIn,.turnInSEQ {
  background-color: #E07A5F;
  color: #3d405b;
  margin: 15px 10px;
  padding: 15px 25px;
  border-radius: 50%;
  font-size: 20px;
}

.contactForm {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-size: 20px;
}

footer form {
  display: flex;
  flex-flow: column wrap;
  align-items: end;
  width: 75%;
}

footer form input, footer form textarea {
  width: 100%;
  margin-bottom: 7px;
}

footer form textarea {
  height: 130px;
}

#ContactFormButton {
  align-self: center;
  margin-bottom: 50px;
  background-color: #E07A5F;
  color: #3d405b;
  padding: 15px 25px;
  border-radius: 50%;
  font-size: 20px;
}

p {
  font-size: 25px;
}

#newVocabForm {
  font-size: 25px;
  text-align: left;
  width: 89%;
  margin-left: 27px;
}

#searchBar {
  text-align: center;
}

#SEQcheckBox {
  font-size: 20px;
}

#SEQanswer {
  margin: 5px 15px;
}

hr {
  margin: 15px 5px;
}

@media screen and (min-width: 600px) {
  h1 {
    font-size: 50px;
  }

  h3, h4 {
    font-size: 35px;
  }

  .contactForm {
    font-size: 30px;
  }

  p {
    font-size: 32px;
    padding: 5px 10px;
  }

  .readyGo,.TCQButton,.SEQButton,.turnIn,.turnInSEQ {
    font-size: 27px;
  }

  #newVocabForm {
    font-size: 32px;
  }

  #SEQcheckBox {
    font-size: 32px;
  }
}